html
  head
    script(src='script.js')
    link(rel='stylesheet', href='style.css')

  body(onload="init();")
    .parts
      .part
        .title grid
        #grid
          table#lines
          #minR.radius
          #maxR.radius
          #origin.point
          #target.point
      .part
        .title figure
        svg#figure
          path#angle2
          path#angle1

          line#a1()
          line#a2()
          line#b1()
          line#b2()
          line#b3()

      .part
        .title controls

        .subtitle x (horizontal grid)
        input#ctrlx(type='range', min=-100, max=100, onchange='move();', value=50)

        .subtitle y (vertical grid)
        input#ctrly(type='range', min=-100, max=100, onchange='move();', value=50)

        .subtitle z (height of load)
        input#ctrlz(type='range', min=0, max=100, onchange='move();', value=0)

        #error

        .title angles
        #val-angle1
        #val-angle2
        #val-angle3

      #settings.part
        .title settings

        .subtitle auto correct extension
        input#ctrla(type='checkbox')

      .part
        .title instruction
        p grid shows the XY position of the arm, and Z is the height.
        p on the grid, the red and green circle shows the minimum and maximum reach of the arm, given a certain height.
        p the figure shows the position of the arm, and the placement of the angles (red for arm A, green for arm B)
        p settings allow for the arm length to change. Arm A (red) has 2 parts, a1 is the one attached to the base. Arm B (green) has 3 parts, b1 is the one attached to the base.
        p auto correct extension will change the XY coords to the nearest position for which the arm can operate at that height
