$clr_black: #000;
$clr_white: #fff;

$clr_origin: #f00;
$clr_target: #ffa;

$clr_minR: #faa;
$clr_maxR: #afa;

$clr_arm1: #faa;
$clr_arm2: #afa;
$clr_base: #ffa;

$clr_error: #fcc;

.parts {
    display: flex;
    flex-flow: row wrap;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;

    margin-top: 1rem;
    line-height: 2.5rem;
}

.subtitle {
    margin-top: 1rem;
}

.part {
    padding: 0.5rem;
    max-width: 30rem;
}

#grid {
    overflow: hidden;
    position: relative;
    background: $clr_black;

    #lines {
        width: 100%;
        height: 100%;

        td {
            outline: 0.5px solid $clr_white;
        }
    }

    .point, .radius {
        border-radius: 50%;
        position: absolute;
    }

    .radius {
        border: 2px solid;
        box-sizing: border-box;
    }

    #minR { border-color: $clr_minR; }
    #maxR { border-color: $clr_maxR; }

    #origin {
        background: $clr_origin;
    }

    #target {
        background: $clr_target;
    }
}

#figure {
    background:$clr_black;

    line, path {
        stroke-width: 2;
        stroke: $clr_white;
    }

    #a1, #a2, #angle1 {
        fill: $clr_arm1;
        stroke: $clr_arm1;
    }

    #b1, #b2, #b3, #angle2 {
        fill: $clr_arm2;
        stroke: $clr_arm2;
    }

    #angle1, #angle2{
        fill-opacity: 0.4;
    }
}

#error:not(:empty) {
    text-align: center;
    padding: 0.5rem 1rem;
    background: $clr_error;
}

#val-angle1, #val-angle2, #val-angle3 {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    &::before {
        content: '';
        display: inline-block;
        margin-right: 0.5rem;

        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid $clr_black;
    }
}

#val-angle1::before { background: $clr_arm1; }
#val-angle1::after { content: '\00a0(1st arm)'; }
#val-angle2::before { background: $clr_arm2; }
#val-angle2::after { content: '\00a0(2nd arm)'; }
#val-angle3::before { background: $clr_target; }
#val-angle3::after { content: '\00a0(base rotation)'; }

#settings {
    .row {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        input {
            width: 5rem;
            margin-left: 1rem;
        }
    }
}
